.forecast-extended
    display: flex
    flex-direction: column
    justify-content: center
    h2
        margin: 10px 0
    .week-forecast
        h2
            font-size: 12px
    div
        border: 3px solid #fff
        margin: 10px 0px
        border-radius: 10px
        transition: 1.5s all ease